/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
@font-face {
  font-family: 'Gloriola Std';
  font-style: normal;
  font-weight: 300;
  src: local("Gloriola Std Medium"), local("Gloriola-Std-Medium"), url(../fonts/GloriolaStd-Medium.woff2) format("woff2"), url(../fonts/GloriolaStd-Medium.woff) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
	line-height: 1;
	font-family: "Gloriola Std", sans-serif;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
	color: #263238;
	font-size: 30px;
}

#name,
#latestactivity {
	margin-bottom: 10px;
	color: white;
	line-height: 1.3;
}

body {
	background-color: #1D2632;
	color: white;
}

.header {
	padding: 15px;
	padding-bottom: 0px;
}

.header > div {
	width: 86%;
}

.ai-line {
    margin-bottom: 20px;
    display: block;
    width: 50px;
    height: 6px;
    background-color: #00E062;
}

.circle-big {
    margin-top: 6px;
    margin-left: 6px;
    width: 35px;
    height: 35px;
	display: inline-block;
	margin-right: 5px;
	border-radius: 50%;
}
.circle-green {
    background-color: #00DF58;
}

.circle-blank {
    background-color: #1D2632;
}
.circle-red {
    background-color: #ef534f;
}

.header > .panel-ai-indicator {
	background-color: #263141;
	height: 50px;
	float: right;
	width: 15%;
	position: relative;
	font-size: 30px;
	border-radius: 5px;
}

.indicator-text {
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 120px;
}


#preloader {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 58px;
	height: 58px;
	-ms-background-size: 58px 58px;
	background-size: 58px 58px;
	margin-top: -29px;
	margin-left: -29px;
	z-index:2;
	background-image: url("../img/preloader.svg");
}

.databox {
	display: block;
	background-color: #263141;
	display: none;
	width: calc( 100% - 30px );
	overflow-x: auto;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	margin: 15px;
}

.y_events line,
.y_events path,
.x_time line,
.x_time path {
  stroke: white;
}

.y_events text,
.x_time text{
	fill: #fff;
}

.bars rect {
	cursor: pointer;
}

.primary_nav_wrap {
	width: calc( 100% - 30px );
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

	background-color: #263141;
}

.primary_nav_wrap ul::before {
	content: "channel: ";
	margin-right: 20px;
}
@media screen and (max-width: 670px) {
	.primary_nav_wrap ul::before {
		content: none;
		margin: 0px;
	}
}
.primary_nav_wrap ul {
	height: 42px;
	display: inline-block;
	float: right;
}
.primary_nav_wrap li {
	display: inline-block;
}
.primary_nav_wrap .logo a,
.primary_nav_wrap li a{
	padding-top: 14px;
	height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	display: inline-block;
	text-align: center;
	color: white;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	text-decoration: none;
}


.primary_nav_wrap li.current-menu-item a {
	background-color: #37474F;
}

.primary_nav_wrap .logo a:hover,
.primary_nav_wrap li a:hover {
	background-color: #455A64;
}
.primary_nav_wrap .logo a{
	width: 145px;
	height: 42px;
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 15px;
	text-align: left;
}

@media screen and (max-width: 670px) {
	.primary_nav_wrap .logo span {
		display: none;
	}
	.primary_nav_wrap .logo a{
		width: 80px;
	}
}

#data {
	padding-top: 0.5%;
	display: block;
	margin-right: 0px;
	width: 93%;
	padding: 3%;
	padding-right: 0px;
	margin-right: 3%;
}

#data.border {
	border-right: 6px solid #1D2632;
}

#data.border-green {
	border-right: 6px solid #00DF58;
}
#data.border-red {
	border-right: 6px solid #ef534f;
}

.tooltip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  /* border: 1px solid #00E062; */
  padding: 10px;
  color: #1D2632;
  text-align: center;
  border-radius: 5px;
}


@media screen and (min-width: 960px) and (max-width: 1400px) {
	.header > div {
		width: 75%;
	}
	.header > .panel-ai-indicator {
		width: 25%;
	}
}

@media screen and (min-width: 670px) and (max-width: 960px) {
	.header > div {
		width: 70%;
	}
	.header > .panel-ai-indicator {
		width: 30%;
	}
	#data {
		width: 130vw;
	}
}
@media screen and (min-width: 460px) and (max-width: 670px) {
	.header > div {
		width: 50%;
	}
	.header > .panel-ai-indicator {
		width: 50%;
	}
	#data {
		width: 140vw;
	}
}
@media screen and (max-width: 460px) {
	.header > div {
		width: 100%;
	}
	.header > .panel-ai-indicator {
		width: 100%;
		margin-bottom: 15px;
	}

	#data {
		width: 170vw;
	}
}
#prevnext {
	position: absolute;
	top: 0px;
	left: 160px;
}
@media screen and (max-width: 670px) {
	#prevnext {
		left: 80px;
	}
}
#prevnext a {
	display: inline-block;
	text-align: center;
	width: 40px;
	height: 42px;
	color: white;
	padding: 14px;
	text-decoration: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#prevnext a:hover {
	background-color: #455A64;
}
#prevnext .prev {
	margin-left: 15px;
}



.databox::-webkit-scrollbar {
	-webkit-appearance: none;
    width: 1em;
}

.databox::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.databox::-webkit-scrollbar-thumb {
  background-color: #B0BEC5;
  border-radius: 5px;
}
